     <p class="text-left border border-dark", style="margin: 20px 500px;">
     <br>
     ようこそ、ながのCAKEへ！<br>
     このサイトは、ケーキ販売のECサイトになります。<br>
     会員でない方も商品の閲覧はできますが、<br>
     購入には会員登録が必要になります。<br>
     <br>
    </P>
    <h2>新着商品</h2>
